$color-primary:#033333; 		  //darkslategray
$color-primary-light:#2b2b2b;    //darkslategray

$color-secondary:#e13e2b;   //crimson

$color-tertiary:#c29066;    //darkkhaki

$color-white:#fff;
$color-white-light:rgba(#fff,.64);

$color-black-dark:#000;
$color-black-light-1:#111;
$color-black-light-2:#232020;
$color-black-light-3:rgba(0,0,0,.64);

$color-grey:#f0f0f0;      //whitesmoke
$color-grey-dark:#aeaeae;
$color-grey-light:#e4e3e3;

$color-brown:#ebbf4a;

$color-blue:#30aade;
$color-blue-light:hsla(255,100.00%,60.71%,1.00);
$color-green:hsla(107,81.01%,34.25%,1.00);

$font-default:"Nunito Sans",sans-serif;
$font-default-size:1.6rem;